<div class="app-container">
  <header>
    <h1>Football Match Center</h1>
    <div class="current-time">Current time: {{this.currentTime}}</div>

    <nav class="match-nav">
      <LinkTo @route="index" @query={{hash tab="all"}} class={{if (eq this.model.tab "all") "active"}}>
        All Matches
      </LinkTo>
      <LinkTo @route="index" @query={{hash tab="live"}} class={{if (eq this.model.tab "live") "active"}}>
        Live Matches
      </LinkTo>
      <LinkTo @route="index" @query={{hash tab="finished"}} class={{if (eq this.model.tab "finished") "active"}}>
        Finished Matches
      </LinkTo>
      <LinkTo @route="index" @query={{hash tab="scheduled"}} class={{if (eq this.model.tab "scheduled") "active"}}>
        Scheduled Matches
      </LinkTo>
    </nav>

    {{#if (not (eq this.activeTab "live"))}}
      <div class="date-filter">
        <label for="date">Filter by date:</label>
        <input
          id="date"
          type="date"
          value={{this.filterDate}}
          {{on "change" this.updateFilterDate}}
        />
        {{#if this.filterDate}}
          <button class="clear-filter" {{on "click" this.clearFilter}}>
            Clear Filter
          </button>
        {{/if}}
      </div>
    {{/if}}
  </header>

  <main>
    {{outlet}}
  </main>
</div>
