<!--&lt;!&ndash; app/templates/scores.hbs &ndash;&gt;-->
<!--<h2>Live Scores</h2>-->
<!--<ul>-->
<!--  {{#each this.model as |match|}}-->
<!--    <li>{{match.homeTeam.name}} vs {{match.awayTeam.name}} - {{match.score.fullTime.home}}:{{match.score.fullTime.away}}</li>-->
<!--  {{/each}}-->
<!--</ul>-->
<h2>Live Scores</h2>
<ul>
  {{#each this.scores as |match|}}
    <li>{{match.team1}} vs {{match.team2}} - {{match.score1}}:{{match.score2}}</li>
  {{/each}}
</ul>
